@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500;700;900&display=swap');

// CONSTANTS AND VARIABLES

$c1: rgb(  15,   5,  14, 1);
$c2: rgba( 41,  21,  40, 1);
$c3: rgb(80, 51, 90);
$c4: rgba(158, 130, 156, 1);
$c5: rgba(240, 239, 244, 1);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

body {
    background-color: $c1;
    overflow: hidden;
}

// MAIN SECTION

main {
    position: relative;
    padding-top: 5vh;
    padding-bottom: 10vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main h1 {
    color: $c4;
    font-size: 5rem;
    letter-spacing: 0.3em;
    text-align: center;
    font-weight: 900;
    overflow: hidden;
    border-right: 15px solid $c4;
    width: auto;
    white-space: nowrap;
    filter: brightness(1.1) drop-shadow(0 0 75px $c3);
    animation: typing-animation 2.5s steps(19) 0.5s forwards, text-cursor .5s step-end infinite alternate;
}

@keyframes typing-animation {
    to {
        width: var(--headingCharacterWidth);
    }
}

@keyframes text-cursor {
    50% {
        border-color: transparent;
    }
}

// PASSWORD OUTPUT 

main p {
    color: $c5;
    font-size: 5vw;
    letter-spacing: 0.3em;
    font-weight: 300;
    text-align: center;
}

// COPY AND REGENERATE BUTTONS

@for $i from 1 through 6 {
    @if $i < 3 {
        .button-container .password-output-buttons-container .fade-in:nth-child(#{$i}) {
            animation: intro-button 1s ease-out none;
            animation-delay: calc(0.15s * #{$i} + 0.6s);
            opacity: 0;
        }
    }
    @if $i > 2 {
        $iCalc: calc($i - 2);
        .button-container .fade-in:nth-child(#{$iCalc}) {
            animation: intro-button 1s ease-out none;
            animation-delay: calc(0.15s * #{$i} + 0.6s);
            opacity: 0;
        }
    }
}

@keyframes intro-button {
    0% {
        display: block;
        transform: translateY(30px) scale(0);
        filter: blur(5px);
    }
    10% {
        transform: translateY(30px) scale(1);
        filter: blur(0px);
        opacity: 1;
    }
    to {
        transform: translateY(0px);
        opacity: 0.5;
    }
}

.button-container {
    margin: 0 10vw;
}

.password-output-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.copy-password, .generate-password {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    height: 55px;
    background-color: $c2;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: $c4;
    padding: 10px;
    opacity: 0.5;
    &::before {
        margin-right: 10px;
        height: 90%;
        aspect-ratio: 1/1;
    }
}

.copy-password:hover, .generate-password:hover {
    background-color: $c2;
    color: $c5;
    opacity: 1;
}

.copy-password::before {
    content: url(../icons/clipboard-outline.svg);
}

.copied::before {
    animation: copied 3s ease forwards;
}

.generate-password::before {
    content: url(../icons/regenerate-outline.svg);
    transform: rotate(var(--generate-icon-rotation));
    transition: 1s ease;
}

@keyframes copied {
    0% {
        transform: scale(1);
        filter: blur(0);
    }
    20% {
        transform: scale(0) rotate(360deg);
        filter: blur(5px);
    }
    50% {
        transform: scale(1) rotate(720deg);
        filter: blur(0);
        content: url(../icons/checkmark-outline.svg);
    }
    80% {
        transform: scale(0) rotate(360deg);
        filter: blur(5px);
        content: url(../icons/checkmark-outline.svg);
    }
    100% {
        transform: scale(1);
        filter: blur(0);
        content: url(../icons/clipboard-outline.svg);
    }
}


// PASSWORD OUTPUT

#password-output {
    background-color: rgba( 41,  21,  40, 0.5);
    width: 100%;
    padding: 20px 0;
    filter: drop-shadow(0 0 25px $c2);
}

// LENGTH SLIDER

.length-slider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 700px;
}

.length-slider-container p {
    font-size: 2rem;
    margin-left: 3vw;
    text-align: left;
    white-space: nowrap;
}

#length-display {
    font-weight: 900;
}

.password-length-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: $c2;
    outline: none;
    opacity: 0.7;
    border-radius: 100px;
    -webkit-transition: .2s;
    transition: all .2s ease;
}
  
.password-length-slider:hover {
    opacity: 1;
    height: 23px;
}
  
.password-length-slider:hover::-webkit-slider-thumb {
    transform: scale(0.7);
}
  
.password-length-slider:hover::-moz-range-thumb {
    transform: scale(0.7);
}
  
.password-length-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: $c4;
    border-radius: 50%;
    transition: all 0.5s ease;
    cursor: pointer;
}
  
.password-length-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: $c4;
    border-radius: 50%;
    cursor: pointer;
}

// COMPLEXITY OPTIONS
  
.complexity-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
    gap: 10px;
    margin-top: 10px;
}

.complexity-option {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
    font-size: 1rem;
    color: $c2;
    background-color: rgb(104, 210, 104);
    box-shadow: 0 0 20px rgb(104, 210, 104, 0.7);
    opacity: 0.5;
    transition: all 0.3s ease;
}

.complexity-option:hover {
    color: $c5;
    opacity: 1;
}

.on-off {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.on-off svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $c2;
    transition: all 0.5s ease;
}

.complexity-option:hover svg {
    color: $c5;
}

.on svg {
    &:nth-child(1) {
        animation: off 1s ease forwards;
    }
    &:nth-child(2) {
        animation: on 1s ease forwards;
    }
}

.off svg {
    &:nth-child(2) {
        animation: off 1s ease forwards;
    }
    &:nth-child(1) {
        animation: on 1s ease forwards;
    }
}

@keyframes on {
    0% {
        opacity: 0;
        transform: scale(0) rotate(0);
        filter: blur(5px);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(360deg);
        filter: blur(0px);
    }
}

@keyframes off {
    0% {
        opacity: 1;
        transform: scale(1) rotate(-360deg);
        filter: blur(0px);
    }
    100% {
        opacity: 0;
        transform: scale(0) rotate(0);
        filter: blur(5px);
    }
}

@media screen and (max-width: 1500px) {
    main h1 {
        animation-duration: 0s;
        width: 100%;
        white-space: normal;
        border: none;
    } 
}

@media screen and (max-width: 750px) {
    main {
        padding: 10vh 0;
        justify-content: space-around;
    }
    main h1 {
        font-size: 3rem;
    } 
    .button-container > * {
        color: $c5;
    }
    .length-slider-container {
        flex-direction: column;
        width: 50%;
    }
    .length-slider-container p {
        margin: 0;
    }
    .password-length-slider {
        margin-bottom: 25px;
    }
    .complexity-options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        transform: translateY(0);
    }
    .complexity-option {
        border-radius: 5px;
        color: $c5;
    }
    .complexity-option svg {
        color: $c5;
    }
    .on-off {
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .complexity-option {
        font-size: 0.75rem;
        opacity: 1;
    }
    .copy-password, .generate-password {
        opacity: 1;
        font-size: 1rem;
        color: $c5;
    }
}

@media screen and (max-width: 600px) {
    main h1 {
        font-size: 2rem;
    }
    .length-slider-container p {
        margin: 0;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    main h1 {
        font-size: 2rem;
    }
    .length-slider-container p {
        margin: 0;
        font-size: 1rem;
    }
}

