@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

body {
  background-color: rgb(15, 5, 14);
  overflow: hidden;
}

main {
  position: relative;
  padding: 5vh 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main h1 {
  color: rgb(158, 130, 156);
  font-size: 5rem;
  letter-spacing: 0.3em;
  text-align: center;
  font-weight: 900;
  overflow: hidden;
  border-right: 15px solid rgb(158, 130, 156);
  width: auto;
  white-space: nowrap;
  -webkit-animation: typing-animation 2.5s steps(19) 0.5s forwards, text-cursor 0.5s step-end infinite alternate;
          animation: typing-animation 2.5s steps(19) 0.5s forwards, text-cursor 0.5s step-end infinite alternate;
}

@-webkit-keyframes typing-animation {
  to {
    width: var(--headingCharacterWidth);
  }
}

@keyframes typing-animation {
  to {
    width: var(--headingCharacterWidth);
  }
}
@-webkit-keyframes text-cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes text-cursor {
  50% {
    border-color: transparent;
  }
}
main p {
  color: rgb(240, 239, 244);
  font-size: 5vw;
  letter-spacing: 0.3em;
  font-weight: 300;
  text-align: center;
}

.password-output-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.copy-password, .generate-password {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  margin: 0 10px;
  background-color: rgb(41, 21, 40);
  border: none;
  border-radius: 10px;
  transition: all 0.25s ease;
  outline: 2px solid rgb(15, 5, 14);
  color: rgb(158, 130, 156);
  padding: 10px;
}
.copy-password::before, .generate-password::before {
  margin-right: 10px;
  height: 90%;
  aspect-ratio: 1/1;
}

.copy-password:hover {
  background-color: rgb(41, 21, 40);
  transform: scale(1.1);
  outline: 2px solid rgb(80, 51, 90);
  color: rgb(240, 239, 244);
}

.generate-password:hover {
  background-color: rgb(41, 21, 40);
  transform: scale(1.1);
  outline: 2px solid rgb(80, 51, 90);
  color: rgb(240, 239, 244);
}

.copy-password::before {
  content: url(../icons/clipboard-outline.svg);
}

.copied::before {
  -webkit-animation: copied 3s ease forwards;
          animation: copied 3s ease forwards;
}

.generate-password::before {
  content: url(../icons/regenerate-outline.svg);
  transform: rotate(var(--generate-icon-rotation));
  transition: 1s ease;
}

@-webkit-keyframes copied {
  0% {
    transform: scale(1);
    filter: blur(0);
  }
  25% {
    transform: scale(0) rotate(360deg);
    filter: blur(5px);
  }
  50% {
    transform: scale(1) rotate(720deg);
    filter: blur(0);
    content: url(../icons/checkmark-outline.svg);
  }
  75% {
    transform: scale(0) rotate(360deg);
    filter: blur(5px);
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    content: url(../icons/clipboard-outline.svg);
  }
}

@keyframes copied {
  0% {
    transform: scale(1);
    filter: blur(0);
  }
  25% {
    transform: scale(0) rotate(360deg);
    filter: blur(5px);
  }
  50% {
    transform: scale(1) rotate(720deg);
    filter: blur(0);
    content: url(../icons/checkmark-outline.svg);
  }
  75% {
    transform: scale(0) rotate(360deg);
    filter: blur(5px);
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    content: url(../icons/clipboard-outline.svg);
  }
}
#password-output {
  background-color: rgb(41, 21, 40);
  width: 100%;
  padding: 20px 0;
  filter: drop-shadow(0 0 25px rgb(41, 21, 40));
}

.length-slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 700px;
}

.length-slider-container p {
  font-size: 2rem;
  margin-left: 3vw;
  text-align: left;
  white-space: nowrap;
}

#length-display {
  font-weight: 900;
}

.password-length-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: rgb(41, 21, 40);
  outline: none;
  opacity: 0.7;
  border-radius: 100px;
  transition: all 0.2s ease;
}

.password-length-slider:hover {
  opacity: 1;
  height: 23px;
}

.password-length-slider:hover::-webkit-slider-thumb {
  transform: scale(0.7);
}

.password-length-slider:hover::-moz-range-thumb {
  transform: scale(0.7);
}

.password-length-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(158, 130, 156);
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.password-length-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgb(158, 130, 156);
  border-radius: 50%;
  cursor: pointer;
}

.complexity-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  gap: 10px;
  transform: translateY(25%);
}

.complexity-option {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  border-radius: 15px;
  border: 0px solid rgb(15, 5, 14);
  width: 100%;
  height: 100%;
  padding: 5px 15px;
  font-size: 1rem;
  color: rgb(41, 21, 40);
  background-color: rgb(104, 210, 104);
  box-shadow: 0 0 20px rgba(104, 210, 104, 0.7);
  opacity: 0.5;
  transition: all 0.5s ease;
}

.complexity-option:hover {
  color: rgb(240, 239, 244);
  opacity: 1;
}

.on-off {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.on-off svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(41, 21, 40);
  transition: all 0.5s ease;
}

.complexity-option:hover svg {
  color: rgb(240, 239, 244);
}

.on svg:nth-child(1) {
  -webkit-animation: off 1s ease forwards;
          animation: off 1s ease forwards;
}
.on svg:nth-child(2) {
  -webkit-animation: on 1s ease forwards;
          animation: on 1s ease forwards;
}

.off svg:nth-child(2) {
  -webkit-animation: off 1s ease forwards;
          animation: off 1s ease forwards;
}
.off svg:nth-child(1) {
  -webkit-animation: on 1s ease forwards;
          animation: on 1s ease forwards;
}

@-webkit-keyframes on {
  0% {
    opacity: 0;
    transform: scale(0) rotate(0);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(360deg);
    filter: blur(0px);
  }
}

@keyframes on {
  0% {
    opacity: 0;
    transform: scale(0) rotate(0);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(360deg);
    filter: blur(0px);
  }
}
@-webkit-keyframes off {
  0% {
    opacity: 1;
    transform: scale(1) rotate(-360deg);
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform: scale(0) rotate(0);
    filter: blur(5px);
  }
}
@keyframes off {
  0% {
    opacity: 1;
    transform: scale(1) rotate(-360deg);
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform: scale(0) rotate(0);
    filter: blur(5px);
  }
}
.letter-capital-conatiner {
  position: relative;
  width: 100%;
  height: 100%;
}

#capital-complexity-option-container {
  position: absolute;
  overflow: hidden;
  transition: all 0.5s ease;
  width: 150%;
  height: 0;
  top: 0;
  margin: 0;
  padding: 0;
  filter: opacity(0);
  transform: translateY(-10px);
}

.letter-capital-conatiner:hover #capital-complexity-option-container {
  width: 150%;
  height: 80%;
  top: -80%;
  padding: 5px 15px;
  filter: opacity(1);
}

@media screen and (max-width: 1500px) {
  main h1 {
    -webkit-animation-duration: 0s;
            animation-duration: 0s;
    width: 100%;
    white-space: normal;
    border: none;
  }
}
@media screen and (max-width: 750px) {
  main {
    padding: 0;
    justify-content: space-around;
  }
  main h1 {
    font-size: 3rem;
  }
  .length-slider-container {
    flex-direction: column;
    width: 50%;
  }
  .length-slider-container p {
    margin: 0;
  }
  .password-length-slider {
    margin-bottom: 25px;
  }
  .complexity-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    transform: translateY(0);
  }
  .complexity-option {
    border-radius: 5px;
  }
  .letter-capital-conatiner {
    grid-column: 1/3;
    flex-direction: row;
  }
  #letter-complexity-option-container {
    width: calc(50% - 5px);
  }
  #capital-complexity-option-container {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    width: calc(50% - 5px);
    height: 100%;
    left: calc(50% + 5px);
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    color: rgb(41, 21, 40);
    background-color: rgb(104, 210, 104);
    filter: opacity(1);
    transition: all 0.5s ease;
    transform: translateY(0);
  }
  #special-complexity-option-container, #number-complexity-option-container {
    grid-column: 1/3;
  }
  .letter-capital-conatiner:hover #capital-complexity-option-container {
    width: calc(50% - 5px);
    height: 100%;
    top: 0;
    color: rgb(240, 239, 244);
  }
  .on-off {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .complexity-option {
    font-size: 0.75rem;
    opacity: 1;
  }
}
@media screen and (max-width: 600px) {
  main h1 {
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */